.customAlbertName {
    font-size: 20px;
}

.customlabelPhoto1 {
    margin-top: 2px;
}

@media only screen and (min-width: 520px) {
    .customAlbertName {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .customAlbertName {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .customlabelPhoto1 {
        margin-top: 4px;   
    }

    .customAlbertName {
        font-size: 46px;
    }
}

@media only screen and (min-width: 1280px) {
    .customAlbertName {
        font-size: 4.4vw;
    }
}


.customSquare-box{
    position: relative;
    width: 50%;
    max-width: 470px;
    overflow: hidden;
    background: none;
    text-align: center;
}
.customSquare-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.customSquare-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}