.film {
  position: absolute;
  top: 0;
  margin-top: -110px;
}

.filmContent {
  margin-left: -50px;
  z-index: 1;
}

.photos {
  position: absolute;
  top: 0;
  margin-top: -20px;
}

.photosContainer {
  width: 1000px;
}



.square {
    width: 80%;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
  }

.square:after {
content: "";
display: block;
padding-bottom: 30%;
}