/* not in use */

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}





.wrapper2{
    width: 100%;
    margin: 30px auto 100px auto;
}

.spacewrapper {
    position: relative;
    padding-bottom: 100.00%;
    padding-top: 25px;
    height: 0;
}

.spacewrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}


@media only screen and (min-width: 360px){

    .wrapper{
        width: 80%;
        margin: 0 auto;
    }

    .videowrapper{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }

    .videowrapper iframe {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
    }


    .wrapper2{
        width: 100%;
        margin: 30px auto 100px auto;
    }

    .spacewrapper {
        position: relative;
        padding-bottom: 150.00%;
        padding-top: 25px;
        height: 0;
    }
    
    .spacewrapper iframe{
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
    }
}



@media only screen and (min-width: 640px){

    .wrapper{
        width: 50%;
        margin: 0 auto;
    }
    
    .videowrapper{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }
    
    .videowrapper iframe {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
    }


    .wrapper2{
        width: 90%;
        margin: 30px auto 100px auto;
    }
    .spacewrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    }
    
    .spacewrapper iframe{
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
    }
}