.customMaxWidth {
    max-width: 420px;
}

.customSquareContainerSection2 {
    width:30%;
    position: relative;
}

.customSquareContainerSection2::after {
    content: "";
    display: block;
    padding-top: 62%;
}

.customSquareContainerSection3{
    width:30%;
    position: relative;
}

.customSquareContainerSection3::after{
    content: "";
    display: block;
    padding-top: 162%;
}

.customHingaImage {
    width: 100%;
    max-width: 400px;
}

@media only screen and (min-width: 1024px) {
    .customHingaImage {
        position: absolute;
        bottom: 0;
        max-width: 380px;
    }
}