.square{
    width:30%;
    position: relative;
}

.square::after{
    content: "";
    display: block;
    padding-top: 92%;
}


@media only screen and (min-width: 1280px){
    .mainHeader{
        font-size: 100px;
        font-weight: 1px;
    }
}